@model CripexLibrary.Models.Author

@{
    ViewData["Title"] = "AuthorDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biography)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biography)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditAuthor" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="ListAuthor">Back to List</a>
</div>
