@{
	ViewData["Title"] = "About Us";
}
<main id="main" class="container-fluid">
	<section id="popular-courses" class="courses">
		<div class="container" data-aos="fade-up">
			<!-- ======= Breadcrumbs ======= -->
			<div class="breadcrumbs" data-aos="fade-in">
				<div class="container">
					<h2>@ViewData["Title"]</h2>
				</div>
			</div><!-- End Breadcrumbs -->
			<!-- ======= About Section ======= -->
			<section id="about" class="about">
				<div class="container" data-aos="fade-up">

					<div class="row">
						<div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
							<img src="~/assets/img/about.jpg" class="img-fluid" alt="">
							<p>Welcome to our library! We are a community-focused library that provides a wide range of resources and services to our patrons.</p>
						</div>
						<div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
							<h3>Our mission is to promote literacy, lifelong learning, and community engagement through our collections, programs, and services.</h3>
							<p class="fst-italic">
								Our library has been serving the community for over 50 years.
								We started as a small collection of books in a local community center and have grown to become a thriving library with a diverse collection of materials and resources.
							</p>
							<ul>
								<li><i class="bi bi-check-circle"></i> We offer a wide range of materials for patrons of all ages and interests, including books (fiction, non-fiction, and reference), audiobooks, DVDs and Blu-rays, music CDs, magazines and newspapers, and e-books and digital audiobooks.</li>
								<li><i class="bi bi-check-circle"></i> In addition to our physical collections, we also offer access to online databases and resources, including academic journals, research tools, and language learning software.</li>
							</ul>
							<p>
								We offer a variety of programs and services to support the needs and interests of our patrons, including storytimes and other programs for children and families, book clubs and other discussion groups, computer and technology classes, adult education and literacy programs, author visits and other special events. We also offer a variety of services to support our patrons, including reference and research assistance, interlibrary loan, printing and copying services, meeting and study rooms, and outreach services for homebound and disabled patrons.
							</p>

						</div>
					</div>

				</div>
			</section><!-- End About Section -->
		</div>
	</section>
</main>
